<div>
  <p> Description: {{expense.description}} </p>
  <p> Value: {{expense.value}} </p>
  <p> Date: {{expense.date}} </p>
  <p> Category: {{expense.category}} </p>
  <img src="{{expense.imageUrl}}" />
</div>