
<main>

  <div class="title">
    <img src="images/logo.png">
          <span class="logout-Btn">
      <button type="button" class="btn btn-light"> <a href="/logout">Logout</a> </button>
    </span>
  </div>
</div>

  <div class="accounts">
    <div class="insights">

      <div class="fastEarningspp">
        <div class="middle">
          <h3>Earnings</h3>
          <div class="sumEar">
          <h1>€{{sumOfReceived}},00</h1>
            </div>
        </div>
      </div>

      <div class="fastEspensesp">
        <div class="fastEspensespp">
          <div class="middle">
            <h3>Expenses</h3>
            <div class="sumExp">
            <h1>€{{sumOfExpenses}},00</h1>
          </div>
          </div>
        </div>
      </div>

      <div class="fastTotal">
        <div class="fastEspensespp">
          <div class="middle">
            <h3>Total</h3>
            <div class="total">
            <h1>€{{total}},00</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="helloUserTlt"
      <div class="helloUser">
        <div class="middle">
          <h3></h3>
          <div class="sumEar">
          <h1></h1>
            </div>
        </div>
      </div>
       </div>


    <div class="graph">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(() => drawChart({{sumOfHome}}, {{sumOfEducation}}, {{sumOfEntertainment}}, {{sumOfRestaurant}}, {{sumOfHealth}}, {{sumOfPets}}, {{sumOfGroceries}}, {{sumOfShopping}}, {{sumOfSubscriptions}}, {{sumOfTransportation}}, {{sumOfTravel}}, {{sumOfOthersExp}}));
        function drawChart(home, education, entertainment, restaurant, health, pets, groceries, shopping, subscriptions, transportation, travel, others ) 
        {
          let data = google.visualization.arrayToDataTable([
              ['Accounts', 'Total'],
              ['Home', home],
              ['Education', education],
              ['Entertainment', entertainment],
              ['Restaurant', restaurant],
              ['Health', health],
              ['Pets', pets],
              ['Groceries', groceries],
              ['Shopping', shopping],
              ['Subscriptions', subscriptions],
              ['Transportation', transportation],
              ['Travel', travel],
              ['Others', others],
              
              ]); 
              let options = {
                  title: '', pieHole: 0.4,
                  colors: ['#008080', '#5F9EA0', '#2F4F4F', '#7B68EE', '#4169E1', '#6495ED', '#0000FF' , '#0000CD' ,'#00008B' ,'#000080' ,'#191970' , '#87CEEB' ]
                }; var chart = new
                  google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
        }
        
      </script>
      <div id="donutchart" style="width: 500px; height: 500px;"></div>
    </div>


    <div class="expearnDiv">

      <div class="earnings">
        <div class="earnNav">
          <h1>Earnings</h1>
          <div class="earnBtn">

            <div class="lineEar">

            </div>
            <!--add earnings button -->
            
            <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#earningsModal{{@key}}"
              data-bs-whatever="@mdo"><img src="/images/add.png" height="25px" width="25px" /></button>
            <!-- Modal add earningss -->
            <div class="modal fade" id="earningsModal{{@key}}" tabindex="-1" aria-labelledby="earningsModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="earningsModalLabel">Add earnings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="formExpDiv">

                      <form action="/newearning" method="POST" enctype="multipart/form-data">
                        <div class="topAddEarn">
                          <div class="leftAddEarn">
                            <label>Description:</label>
                            <input type="text" name="description" />

                            <br />
                            <label>Value:</label>
                            <input type="number" name="value" />

                            <br />
                            <label>Date:</label>
                            <br />
                            <input type="date" name="date" />
                            <br />
                          </div>
                          <div class="rightAddEarn">
                            Category:
                            <select name="category" multiple>
                              <option value="Investments">Investments</option>
                              <option value="Loans">Loans</option>
                              <option value="Salary">Salary</option>
                              <option value="Other earnings">Other earnings</option>
                            </select>
                          </div>

                        </div>
                        <div class="imgEarn">
                          <label>Image:
                            <input type="file" name="receipt-img" />
                          </label>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-white">Add Earning</button>
                        </div>

                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="allEarn">
          {{#each formatedReceived}}
          <div class="eachEarn">
            <div class="earn-valDesc">
              <p class="earn-valDescp">
                {{this.description}}
                <div class="spaceEar">
                
                €{{this.value}},00
                </div>
              </p>
            </div>
            <div class="earnBtns">
              <!-- Botao details earnings -->
              <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#earningModal{{@key}}">
                <img src="/images/details.png" height="20px" width="20px" />
              </button>
              <!-- Modal details earnings -->
              <div class="modal fade" id="earningModal{{@key}}" tabindex="-1" aria-labelledby="earningModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="earningModalLabel">Earning
                        details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="earnDetails">
                        <div>
                          <p> Description: {{this.description}} </p>
                          <p> Value: €{{this.value}},00 </p>
                          <p> Date: {{this.newdate}} </p>
                          <p> Category: {{this.category}} </p>
                        </div>
                        <div>
                          <a href="">
                            <img src="{{this.imageUrl}}" width="250px" height="900px" class="img-thumbnail" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-white">
                <a href="/earnings/{{this._id}}/edit"><img src="/images/edit.png" height="20px" width="20px" /></a>
              </button>
              <form action="/earnings/{{this._id}}/delete" method="POST">
                <button type="submit" class="btn btn-white">
                  <img src="/images/delete.png" height="20px" width="20px" type="submit" />
                </button>
              </form>

            </div>
          </div>

          {{/each}}
        </div>
      </div>
  

      <div class="expenses">
        <div class="expNav">
          <h1>Expenses</h1>
          <div class="expBtn">

            <div class="lineExp">

            </div>
            <!--add expenses button -->
            <!-- Botao add expenses -->
            <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#expenseModal"
              data-bs-whatever="@mdo"><img src="/images/add.png" height="25px" width="25px" /></button>
            <!-- Modal add expenses -->
            <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="expenseModalLabel">Add expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="formExpDiv">

                      <form action="/newexpense" method="POST" enctype="multipart/form-data">
                        <div class="topAddExp">
                          <div class="leftAddExp">
                            <label>Description:</label>
                            <input type="text" name="description" />

                            <br />
                            <label>Value:</label>
                            <input type="number" name="value" />

                            <br />
                            <label>Date:</label>
                            <br />
                            <input type="date" name="date" />
                            <br />
                          </div>
                          <div class="rightAddExp">
                        Category:
                        <select name="category" multiple>
                          <option value="Home">Home</option>
                          <option value="Education">Education</option>
                          <option value="Entertainment">Entertainment</option>
                          <option value="Restaurant and bar">Restaurant and bar</option>
                          <option value="Health">Health</option>
                          <option value="Pets">Pets</option>
                          <option value="Groceries">Groceries</option>
                          <option value="Shopping">Shopping</option>
                          <option value="Subscriptions">Subscriptions</option>
                          <option value="Transportation">Transportation</option>
                          <option value="Travel">Travel</option>
                          <option value="Others">Others</option>
                        </select>
                          </div>

                        </div>
                        <div class="imgExp">
                          <label>Image:
                            <input type="file" name="receipt-img" />
                          </label>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-light">Add Expense</button>
                        </div>

                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="allExp">
          {{#each formatedExpenses}}
          <div class="eachExp">
            <div class="exp-valDesc">
              <p class="exp-valDescp"> {{this.description}} 
                
                <div class="spaceExp">
                
                €{{this.value}},00
                </div>

            </div>
            <div class="expBtns">
              <!-- Botao details expenses -->
              <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#expenseModal{{@key}}">
                <img src="/images/details.png" height="20px" width="20px" />
              </button>
              <!-- Modal details expenses -->
              <div class="modal fade" id="expenseModal{{@key}}" tabindex="-1" aria-labelledby="expenseModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="expenseModalLabel">Expense
                        details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="expDetails">
                        <div>
                          <p> Description: {{this.description}} </p>
                          <p> Value: €{{this.value}},00 </p>
                          <p> Date: {{this.newdate}} </p>
                          <p> Category: {{this.category}} </p>
                        </div>
                        <div>
                          <a href="">
                            <img src="{{this.imageUrl}}" width="250px" height="900px" class="img-thumbnail" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-white">
                <a href="/expenses/{{this._id}}/edit"><img src="/images/edit.png" height="20px" width="20px" /></a>
              </button>
              <form action="/expenses/{{this._id}}/delete" method="POST">
                <button type="submit" class="btn btn-white">
                  <img src="/images/delete.png" height="20px" width="20px" type="submit" />
                </button>
              </form>
            </div>
          </div>

          {{/each}}
        </div>

      </div>
    </div>







