    <h1>Main Page</h1>
  <div class="expenses">
    <h1>Expenses</h1>
    <button><a href="/newexpense">ADD EXPENSE</a></button>
    {{#each expenses}}
      <div>
        <p> {{this.description}} </p>
        <p> Value: {{this.value}}€ </p>
                <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal{{@key}}"
        >
          Details
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal{{@key}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expense details</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div>
                  <p> Description: {{this.description}} </p>
                  <p> Value: {{this.value}} </p>
                  <p> Date: {{this.date}} </p>
                  <p> Category: {{this.category}} </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <button><a href="/expenses/{{this._id}}/edit">Edit</a></button>        
        <form action="/expenses/{{this._id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>

    {{/each}}
  </div>

    <div class="earnings">
    <h1>Earnings</h1>
    <button><a href="/newearning">ADD EARNING</a></button>
    {{#each received}}
      <div>
        <p> {{this.description}} </p>
        <p> Value: {{this.value}}€ </p>
                <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal{{@key}}"
        >
          Details
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal{{@key}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Earning details</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div>
                  <p> Description: {{this.description}} </p>
                  <p> Value: {{this.value}} </p>
                  <p> Date: {{this.date}} </p>
                  <p> Category: {{this.category}} </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <button><a href="/earnings/{{this._id}}/edit">Edit</a></button>        
        <form action="/earnings/{{this._id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>

    {{/each}}
  </div>